[Unit]
Description=BTRFS Snapshot on shutdown
DefaultDependencies=no
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=sudo /home/alice/.local/bin/btrfs-snapshot-shutdown

[Install]
WantedBy=default.target
