[Unit]
Description=BTRFS Snapshot on shutdown
After=final.target

[Service]
Type=oneshot
ExecStart=sudo /home/alice/.local/bin/btrfs-snapshot-shutdown

[Install]
WantedBy=final.target
